@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Poppins:wght@300;400;500&display=swap');
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
  color: #fff;
  font-family: 'Jost', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
}
.main{
  width: 100%;
  height: 100vh;
}
.back {
  width: 100%;
  height: 100vh;
}
.back img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}
.working-area{
  margin: 0 auto;
  position: relative;
  width: 80%;
  height: 100vh;
  max-width: 1920px;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0;
  text-transform: uppercase;
} 
.nav img{
  height: 4rem;
}
.nav a{
    pointer-events: all;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
}
.navleft, .navright{
  display: flex;
  align-items: center; 
  gap: 1rem;
  
}

.hero{
  margin-top: 3.1rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate( 0,-50%);
  width: 100%;
}
.heroleft{
  min-width: 50%;
}
.heroleft .element{
  height: 8vw;
  overflow: hidden;
}
.heroleft, .element h1{
  line-height: 1;
  text-transform: uppercase;
  font-size: 9vw;
  font-weight: 800;
}
.heroleft .btn{
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 200;
  width: 13rem;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border-radius: 5%;
}
.heroleft, #btn{
  text-decoration: none;
  font-weight: 900;
}
.heroleft i{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  border-radius: 50%;
}
.heroleft i:hover{
  background-color: rgba(255, 255, 255, .5);
}

.heroright {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.heroright p{
  text-align: right;
  font-size: 0.7rem;
}
.heroright .imgdiv{
  width: 100%;
  height: 120px;
  background-image: url(https://res.cloudinary.com/dfxbzkmey/image/upload/v1699975067/samples/balloons.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 1.3rem;
  margin-bottom: 2.4rem;
}